@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 80%;
  overflow: hidden;
  margin: auto;
}

h1 {
  // font-family: 'Merriweather', sans-serif;
  // color: white;
  // font-size: 48px;
  // line-height: 55px;
  // font-weight: 700;
  // @media screen and (max-width: 850px) {
  //   font-size: 40px !important;
  // }
  // @media screen and (max-width: 300px) {
  //   font-size: 33px !important;
  // }
}

p {
  // font-weight: 400;
  // line-height: 30px;
  // color: var(--dark-blue);
  // opacity: 80%;
  // @media screen and (max-width: 850px) {
  //   font-size: 17px;
  //   line-height: 32px;
  // }
}

button {
  // height: 100%;
  // font-size: 16px;
  // font-weight: 500;
  // font-family: inherit;
  // color: white;
  // border: none;
  // outline: none;
  // border-radius: 4px;
  // cursor: pointer;
  // transition: all 0.2s ease-in-out;
  // &:hover {
  //   opacity: 90%;
  // }
}
