$orange: rgb(249, 119, 54);
$blue: rgb(33, 63, 112);
$off-blue: rgba(36, 45, 82, 0.8);
$off-gray: rgba(36, 45, 82, 0.6);
$pink: rgb(255, 249, 246);
$dark-gray: rgb(30, 30, 38);
$off-white: rgba(255, 255, 255, 0.6);
